---
---

@import "minimal-mistakes";

.layout--single {
  max-width: 1000px; /* or 960px, depending on your content */
  margin: 0 auto;
  padding: 0 1rem;
}

body {
  background-color: #87ceeb; 
}

.layout--single {
  padding: 0;
}

// The .page is the class name used by the article object that is 
// held within the main div. It his does not refer to the entire page.
.page {
    width: auto;
    padding-inline-end: 0;
}

.masthead__inner-wrap nav {
    background-color: #87ceeb;
}

.page__hero-caption {
  inset-inline-end: auto;
}

.page__hero-overlay {
  max-width: 1000px;
  height: auto;
  margin: 0 0px;
  background-size: cover;
  background-position: center;
  padding: 0px;
}
