---
---

@import "minimal-mistakes";

.page__title,
.page__hero {
  max-width: 700px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  padding: 2rem 1rem;
}


body {
  background-color: yellow;
}
