---
---

@import "minimal-mistakes";


body {
  background-color: skyblue; 
}

// The .page is the class name used by the article object that is 
// held within the main div. It his does not refer to the entire page.
.page {
    width: auto;
    padding-inline-end: 0;
}

.masthead__inner-wrap nav {
    background-color: skyblue;
}

